<html>
 <head>
<title>Furnace at Home</title>
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.time.min.js"></script>
<script type="text/javascript">
 $(function() {
 
  var t = [
    {% for entry in temperature reversed %}
      {{entry.temp_entry}}
    {% endfor %}
    ]

    var tnew = new Array(t.length);
    for(var i=0; i<t.length; i++){
        var time = t[i][0];
        time = (t[i][0])*1000;
        var temp_time = t[i][1];
        temp_time = (t[i][1]);
        tnew.push([time, temp_time]);
        }

  var o = [
    {% for entry in temperature reversed %}
      {{entry.outside_entry}}
    {% endfor %}
    ]

    var onew = new Array(o.length);
    for(var i=0; i<o.length; i++){
        var time = o[i][0];
        time = (o[i][0])*1000;
        var outside_time = o[i][1];
        outside_time = (o[i][1]);
        onew.push([time, outside_time]);
        }

  var g = [
    {% for entry in temperature reversed %}
      {{entry.target_entry}}
    {% endfor %}
    ]
    
    var gnew = new Array(g.length);
    for(var i=0; i<g.length; i++){
        var time = g[i][0];
        time = (g[i][0])*1000;
        var target_time = g[i][1];
        target_time = (g[i][1]);
        gnew.push([time, target_time]);
        }

  var f = [
    {% for entry in temperature reversed %}
      {{entry.furnace_entry}}
    {% endfor %}
    ]
    
    var fnew = new Array(f.length);
    for(var i=0; i<f.length;i++){
        var time = f[i][0];
        time = (f[i][0])*1000;
        if (t[i][1] == 'True')
            {
                var furnace_time = f[i][1];
            } else {
                var furnace_time = 0;
            }
        fnew.push([time, furnace_time]);
        }
       
  var h = [
    {% for entry in temperature reversed %}
      {{entry.home_entry}}
    {% endfor %}
    ];
  var home_state = h[h.length - 1][1];
  
  var d = [
    {% for entry in temperature reversed %}
      {{entry.state_entry}}
    {% endfor %}
    ];
  var state = d[d.length - 1][1];

  $.plot("#graph", [{
   data: tnew,
   lines: { show: true, fill: true }
  }, {
   data: fnew,
   lines: { show: true, lineWidth: 0, fill: 0.5 }
  }, {
   data: gnew,
   lines: { show: true }
  }, {
   data: onew,
   points: { show: true, radius: 1 }
  }], {
      xaxis: {
          mode: "time",
          minTickSize: [1, "minute"],
          twelveHourClock: false,
          timezone: "browser"
  }});
  
  $( "#indoor_temp" ).html( parseFloat(temp_time).toFixed(1) +"&deg;C" );
  $( "#outside_temp" ).html( parseFloat(outside_time).toFixed(1) +"&deg;C" );
  $( "#target_temp" ).html(target_time +"&deg;C" );
  if (furnace_time > 0) 
      { $( "#furnace_state" ).attr('src', '/media/furnace_on.png'); }
  else
      { $( "#furnace_state" ).attr('src', '/media/furnace_off.png'); }
    
  $( "#target_up" ).on("click", function(event){
      if ( ( parseInt(target_time) < 20 ) && ( home_state = 'home' ) ) {
         target_time = parseInt(target_time) + 1;
         var dataString = 'default_temp=' + target_time + '&state=' + state;
         $.ajax({ 
           type: "POST",
           url: "/submit",
           data: dataString,
           success: function() {
             $( "#target_temp" ).html(target_time +"&deg;C" );
           }
         })
      }
  });

  $( "#target_down" ).on("click", function(event){
      if ( ( parseInt(target_time) > 0 ) && ( home_state = 'home' ) ) {
         target_time = parseInt(target_time) - 1;
         var dataString = 'default_temp=' + target_time + '&state=' + state;
         $.ajax({ 
           type: "POST",
           url: "/submit",
           data: dataString,
           success: function() {
             $( "#target_temp" ).html(target_time +"&deg;C" );
           }
         })
      }
  });

 });
 
</script>

<style type="text/css">
.target_button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'sans-serif';
    font-size: 80px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}
</style>
</head>
 <body>
  <h2 style="font-family: sans-serif">
   Furnace state</h2>
  <center>
  <p>
  		<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px;" id="status">
			<tbody>
				<tr>
					<td colspan="2" rowspan="2">
            <img id="state_icon" alt="state" src="/media/day.png" style="width: 77px; height: 77px; margin: 0px; vertical-align: top;">&nbsp;
            <span id="target_temp" style="color: rgb(200, 0, 0); font-family: sans-serif; font-size: 256px; letter-spacing:-16px; vertical-align: middle;">XX&deg;C</span>
          </td>
          <td><input id="target_up" name="target_up" class="target_button" type="button" value="+" /></td>
				</tr>
        <tr>
          <td><input id="target_down" name="target_down" class="target_button" type="button" value="-" /></td>
        </tr>
				<tr>
					<td>
						<img id="indoor_icon" alt="indoor" src="/media/indoor.png" style="width: 84px; height: 77px; margin: 0px; vertical-align: middle;">&nbsp;
            <span id="indoor_temp" style="font-family:sans-serif; color: rgb(255, 165, 0); font-size: 72px; letter-spacing:-4px; vertical-align: middle;">XX.X&deg;C</span></td>
					<td>
						<img id="outdoor_icon" alt="outdoor" src="/media/outdoor.png" style="width: 84px; height: 77px; margin: 0px; vertical-align: middle;">&nbsp;&nbsp;
            <span id="outside_temp" style="font-family:sans-serif; color: rgb(93, 164, 93); font-size: 72px; letter-spacing:-4px; vertical-align: middle;">XX.X&deg;C</span></td>
					<td>
						<img id="furnace_state" alt="furnace state" src="/media/furnace_off.png" vertical-align: middle" style="width: 46px; height: 78px; margin: 0px; vertical-align: middle;" /></td>
				</tr>
			</tbody>
		</table>
    </br>
   </p>
   <div id="graph" style="width:1000px; height:500px; font-family: sans-serif">
    &nbsp;</div>
   <div id="controls" style="font-family: sans-serif">
   <br /><form action="/submit" method="post">
   Target temperature: <select name="target_temperature" size="1">
  <option value="0">0</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option selected="selected" value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
</select>&deg;C to be achieved in
<select name="target_start_minutes" size="1">
  <option value="0">0</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option selected="selected" value="20">20</option>
  <option value="25">25</option>
  <option value="30">30</option>
  <option value="35">35</option>
  <option value="40">40</option>
  <option value="45">45</option>
  <option value="50">50</option>
  <option value="55">55</option>
  <option value="60">60</option>
  <option value="90">90</option>
  <option value="120">120</option>
</select> minutes and held for
<select name="target_held_minutes" size="1">
  <option value="5">5</option>
  <option value="10">10</option>
  <option selected="selected" value="15">15</option>
  <option value="20">20</option>
  <option value="25">25</option>
  <option value="30">30</option>
  <option value="35">35</option>
  <option value="40">40</option>
  <option value="45">45</option>
  <option value="50">50</option>
  <option value="55">55</option>
  <option value="60">60</option>
  <option value="90">90</option>
  <option value="120">120</option>
</select> minutes.<br />
<br />
   <input name="target_submit" type="submit" value="Submit" /></form></center></div>
   <p style="font-family: sans-serif"><a href="{{ logout_url }}">logout</a></p>
 </body>
</html>
